{{! layout: root }}

<div class="docs fixed-layout">

	<div class="fixed-header">
		<div class="container">
			<h1 class="fixed-header-logo">
				<a href="index.html">TaskQueue</a>
			</h1>
		</div>
	</div>

	<div class="container">
		{{{content}}}
	</div>

</div>
