{{! layout: root }}

<div class="home">

	<div class="main-header">
		<nav class="navbar">
			<div class="navbar-links">
				<a href="/docs/index.html" class="navbar-link">Docs</a>
				<a href="/#sample" class="navbar-link">Sample</a>
				<a href="https://twitter.com/taskqueue_io" class="navbar-link">Twitter</a>
			</div>
		</nav>
		<div class="main-header-content">
			<div class="main-header-logo">TaskQueue</div>
			<p class="main-header-text">Simplify your architecture</p>
			<a class="main-header-btn" href="/#sample">Try it now</a>
		</div>
	</div>

	<a name="sample"></a>
	<section class="section">
		<h2 class="section-header">Built for developers</h2>
		<p class="section-subheader">Simple APIs that let you focus on building great products.</p>
		<div class="curl-example">
			<div class="terminal">
				<div class="topbar">
					<div class="circle red"></div>
					<div class="circle yellow"></div>
					<div class="circle green"></div>
				</div>
				<textarea onclick="select()" name="curl_command">
				</textarea>
			</div>
		</div>
	</section>

	<section class="section benefits">
		<div class="section-container">
			<div class='benefit'>
				<h1 class='benefit-title'><i class="fa fa-flag-checkered"></i> Easy to Setup</h1>
				<p class='benefit-text'>Get up and running in minutes with our zero configuration option.</p>
			</div>
			<div class='benefit'>
				<h1 class='benefit-title'><i class="fa fa-bolt"></i> Super Fast</h1>
				<p class='benefit-text'>Messages are typically delivered in less than 1 second from reciept.</p>
			</div>
			<div class='benefit'>
				<h1 class='benefit-title'><i class="fa fa-database"></i> Reliable</h1>
				<p class='benefit-text'>We will retry sending messages if delivery fails due to a consumer being offline.</p>
			</div>
			<div class='benefit'>
				<h1 class='benefit-title'><i class="fa fa-arrows-alt"></i> Flexible</h1>
				<p class='benefit-text'>Build advanced workflows using custom routing rules based on HTTP headers.</p>
			</div>
		</div>
	</section>

</div>
